# Python
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environments
venv/
env/
.virtualenv/

# Build artifacts
/build/
/dist/
*.spec

# Environment variables
.env
.env.local

# Logs
*.log

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace